node_modules/
.history/
/public/hot
/public/storage
/storage/*.key
#/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
*.apk
*.zip
*.mp3
*.mp4
.git_lab/
.git/objects/pack/

# Ignore submodule changes
public/tool/doing
resources/views/index/000
# vendor/lad-lib/laravel
# vendor/yourcompany/cost-management/
vendor/
