.sec1 {

    border-bottom:  1px solid #ccc; margin: 0px 0px 15px 0px;padding : 20px; background: white;
}

.ladtopmenu{
    /*border: 0px solid red;*/
    /*background-color:   #ec000c   ;*/
    /*color: white;*/
    /*padding: 5px 0px;*/
}

.ladcont{
    max-width: 1170px;
    margin: 0px auto;
    border: 0px solid green;
    /*background-color: snow;*/
}

.ladcont_full{
    width: 100%;
    border: 0px solid green;
    background-color: lavender;
}

/* The Modal (background) */
.modal_lad {

    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content_lad {
    border-radius: 10px;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 800px;
}

/* The Close Button */
.close_modal {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close_modal:hover,
.close_modal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.margin0{
    margin: 0px;
}

.padding0{
    padding: 0px;
}

.clearmp{
    margin: 0px;
    padding: 0px;
}


@media(max-width:768px) {

    .hide_on_mobi{
        display: none;
    }
}




.item_grid{
    width: 193px; min-height:200px;
    border-bottom: 0px solid #ddd; float: left;
    border-left: 0px solid #ddd;
    display: none;
    /*padding: 5px;*/
    background: white;
}

.item_grid:nth-last-of-type(1){
    /*border-right: 1px solid #ccc;*/
}

.item_grid:nth-of-type(2n) {

}
.item_grid:nth-of-type(2n+1) {
    /*background: #eee;*/
}

.item_grid {
    /*box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);*/
    /*transition: all 200ms ease-out;*/
}

.item_info{
    height: 30%; padding: 3px 8px;
    border: 0px solid blue;
    color:   #ec000c   ;
    font-size: 13px;


    /*bottom: 0px; position: absolute;*/
}

.item_name{
    color: #272727;
}

.item_image{
    /*position: absolute;*/
    height: 68%;
    border: 0px solid red;
    display:flex;
    align-items: center; padding: 10px
}

.item_image img{
    max-height: 100%;
    max-width: 100%;
}

.item_grid_inside{
    margin: 5px;
    border: 1px solid #ddd;
    height: 96%;
    border-radius: 5px;
    overflow: hidden;
}

.item_grid_inside:hover{
    /*border-right: 3px solid #ccc;*/
    /*border-bottom: 3px solid #ccc;*/

    /*-webkit-box-shadow: 0 8px 6px -6px #777;*/
    /*-moz-box-shadow:    0 8px 6px -6px #777;*/
    /*box-shadow:         0 8px 6px -6px #777;*/

    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.19);
}

.content-item-price{
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 3px 3px 5px #333;
}

.new_img_paste{
    text-align: center;
}


table.glx00 { border: 1px #bbb solid; border-collapse: collapse; margin: 0px 0px 0px 0px; }
table.glx00 td { font-size: small; background-color: white;  border: 1px #bbb solid;      padding: 3px 5px 3px 5px;     ;}
table.glx00 th { text-align: center; font-size: small; background-color: white; border: 1px #bbb solid;    padding: 3px 5px 3px 5px;}
table.glx00 tr:nth-child(even) {}
table.glx00 tr:nth-child(odd) {}

table.glx011 { border: 1px #ccc solid; border-collapse: collapse; margin: 0px 0px 0px 0px; }
table.glx011 td {  border: 1px #ccc solid;      padding: 3px 5px 3px 5px;     ;}
table.glx011 th {  border: 1px #ccc solid;    padding: 3px 5px 3px 5px;}
table.glx011 tr:nth-child(even) {}
table.glx011 tr:nth-child(odd) {}

table.glx012 { border: 1px #ccc solid; border-collapse: collapse; margin: 0px 0px 0px 0px; }
table.glx012 td {  border: 1px #ccc solid;      padding: 6px 10px; font-size: 95%     ;}
table.glx012 th {  border: 1px #ccc solid;    padding: 8px;}
table.glx012 tr:nth-child(even) {}
table.glx012 tr:nth-child(odd) {}


table.glx01 { border: 1px #ccc solid; border-collapse: collapse; margin: 0px 0px 0px 0px; }
table.glx01 td {  border: 1px #ccc solid;      padding: 3px 5px 3px 5px;     ;}
table.glx01 th {  border: 1px #ccc solid;    padding: 3px 5px 3px 5px; background-color: lavender    ;}
table.glx01 tr:nth-child(even) {background:   #eee }
table.glx01 tr:nth-child(odd) {background:  lavender  }

table.glx03 { border: 1px MintCream solid; border-collapse: collapse; margin: 0px 0px 0px 0px; }
table.glx03 td {  border: 1px MintCream solid;      padding: 3px 5px 3px 5px;     ;}
table.glx03 th {  border: 1px MintCream solid;    padding: 3px 5px 3px 5px;     ;}
table.glx03 tr:nth-child(even) {background:   #f6f6f6 }
table.glx03 tr:nth-child(odd) {background:  beige }


table.glx04 { box-shadow: 10px; border-radius: 10px; border: 2px #ccc solid; border-collapse: collapse; margin: 0px 0px 0px 0px; }
table.glx04 td {  border: 1px MintCream solid;      padding: 5px 12px 5px 12px;     ;}
table.glx04 th {  border: 1px MintCream solid;    padding: 5px 12px 5px 12px;     ;}
table.glx04 tr:nth-child(even) {background:   #f6fbfb }
table.glx04 tr:nth-child(odd) {background:  beige }


.pagination_lad {
    margin: 30px 0;
    text-align: right;
    float: left;
    width: 100%
}

.pagination_lad select {
    height: 25px;
}
.pagination_lad a {
    padding: 0px 5px;
    min-width: 25px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
    margin: 0 2px 5px 2px;
    color: #333;
    border: 1px solid #ccc;
    font-size: 14px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px
}

.pagination_lad a:hover,
.pagination_lad a.active {
    background: #00507f;
    color: #fff;
    border: 1px solid #00507f
}

.pagination_lad a:hover .icon-ns,
.pagination_lad a.active .icon-ns {
    color: #fff
}

.pagination_lad .pagination_btn {
    width: auto;
    padding: 0 5px
}

#supportDialog {
    background-color: darkslategray; display: none; color: white;
    position: fixed; bottom: 80px; right: 10px; border: 1px solid gray; z-index: 100000;
}

.supportPhone{
    position: fixed; bottom: 18px; left: 20px ;width: 48px;
    height: 48px;
    line-height: 48px;
    background: #d20023;
    text-align: center;
    border-radius: 50%;
    z-index: 100000;
    color: #fff;
}

.supportPhone a {
    color: #fff;font-size: 26px;
    margin-top: 10px;
}

.supportPhone i {
    margin-top: 10px;
}

.chatWithAdmin {
    position: fixed;
    bottom: 18px;
    right: 20px;
    width: 48px;
    height: 48px;
    padding-top: 5px;
    line-height: 48px;
    background: #d20023;
    text-align: center;
    border-radius: 50%;
    z-index: 100000;
    color: #fff;
}

.row.display-flex {
    display: flex;
    flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

textarea, input{
    /*border: 0px solid #ccc;*/
}

.divTable input, .divGrid input {
    border: 0px solid #ccc;
}

.info1 , .info2{
    font-size: smaller;
}



/**
Modal LAD2
 */

.modal_lad2 {
    z-index: 1000;
}

.modal_lad2 button {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.modal_lad2 button:hover {
    opacity:1;
}

/* Float cancel and delete buttons and add an equal width */
.modal_lad2 .cancelbtn, .deletebtn, .okbtn {
    float: left;
    width: 50% !important;
}

/* Add a color to the cancel button */
.modal_lad2 .cancelbtn {
    background-color: #ccc;
    color: black;
}

/* Add a color to the delete button */
.modal_lad2 .deletebtn {
    background-color: #f44336;
}

/* Add padding and center-align text to the container */
.modal_lad2 .container_modal {
    /*padding: 15px 20px;*/
    /*background: snow;*/
}

.inside_cont_modal{
    padding: 5px 20px;
}

.inside_cont_modal_header{
    /*background-color: #337ab7;*/
    /*color: #337ab7;*/
    border-bottom: 1px solid #ccc;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: larger;
    font-weight: bold;
}


/*background-color: #337ab7;*/

/* The Modal (background) */
.modal_lad2 .modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: transparent;
    padding-top: 10px;

}

/* Modal Content/Box */
.modal_lad2 .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #ccc;
    width: 90%;
    max-width: 600px; /* Could be more or less, depending on screen size */
    border-radius: 3px;
}

/* Style the horizontal ruler */
.modal_lad2 hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* The Modal Close Button (x) */
.modal_lad2 .close {
    float: right;
    font-size: 25px;
    font-weight: bold;
    color: grey;
}

.modal_lad2 .close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

/* Clear floats */
.modal_lad2 .clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
    .modal_lad2 .cancelbtn, .deletebtn {
        width: 100%;
    }
}

#sortable_img { list-style-type: none; margin: 10px 0px 0px 0px; padding: 0; width: 100%; }
#sortable_img span , #sortable_img_not_sort span {
    display: inline-block;;
    margin: 3px 10px 3px 1px; border-radius: 2px; padding-bottom: 10px;
    /*text-align: center*/
}



.glx-container .row::after {
    content: "";
    clear: both;
    display: table;
}

.glx-container .row {
    border: 1px solid blue;
}

.glx-container [class*="colg-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
}


@media only screen and (max-width: 800px) {
    .hide-mobile{
        display: none!important;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /* For mobi: */
    .glx-container .colg-xs-1 {width: 8.33%;}
    .glx-container .colg-xs-2 {width: 16.66%;}
    .glx-container .colg-xs-3 {width: 25%;}
    .glx-container .colg-xs-4 {width: 33.33%;}
    .glx-container .colg-xs-5 {width: 41.66%;}
    .glx-container .colg-xs-6 {width: 50%;}
    .glx-container .colg-xs-7 {width: 58.33%;}
    .glx-container .colg-xs-8 {width: 66.66%;}
    .glx-container .colg-xs-9 {width: 75%;}
    .glx-container .colg-xs-10 {width: 83.33%;}
    .glx-container .colg-xs-11 {width: 91.66%;}
    .glx-container .colg-xs-12 {width: 100%;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .glx-container .colg-sm-1 {width: 8.33%;}
    .glx-container .colg-sm-2 {width: 16.66%;}
    .glx-container .colg-sm-3 {width: 25%;}
    .glx-container .colg-sm-4 {width: 33.33%;}
    .glx-container .colg-sm-5 {width: 41.66%;}
    .glx-container .colg-sm-6 {width: 50%;}
    .glx-container .colg-sm-7 {width: 58.33%;}
    .glx-container .colg-sm-8 {width: 66.66%;}
    .glx-container .colg-sm-9 {width: 75%;}
    .glx-container .colg-sm-10 {width: 83.33%;}
    .glx-container .colg-sm-11 {width: 91.66%;}
    .glx-container .colg-sm-12 {width: 100%;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /* For tablets: */
    .glx-container .colg-md-1 {width: 8.33%;}
    .glx-container .colg-md-2 {width: 16.66%;}
    .glx-container .colg-md-3 {width: 25%;}
    .glx-container .colg-md-4 {width: 33.33%;}
    .glx-container .colg-md-5 {width: 41.66%;}
    .glx-container .colg-md-6 {width: 50%;}
    .glx-container .colg-md-7 {width: 58.33%;}
    .glx-container .colg-md-8 {width: 66.66%;}
    .glx-container .colg-md-9 {width: 75%;}
    .glx-container .colg-md-10 {width: 83.33%;}
    .glx-container .colg-md-11 {width: 91.66%;}
    .glx-container .colg-md-12 {width: 100%;}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    /* For : */
    .glx-container .colg-lg-1 {width: 8.33%;}
    .glx-container .colg-lg-2 {width: 16.66%;}
    .glx-container .colg-lg-3 {width: 25%;}
    .glx-container .colg-lg-4 {width: 33.33%;}
    .glx-container .colg-lg-5 {width: 41.66%;}
    .glx-container .colg-lg-6 {width: 50%;}
    .glx-container .colg-lg-7 {width: 58.33%;}
    .glx-container .colg-lg-8 {width: 66.66%;}
    .glx-container .colg-lg-9 {width: 75%;}
    .glx-container .colg-lg-10 {width: 83.33%;}
    .glx-container .colg-lg-11 {width: 91.66%;}
    .glx-container .colg-lg-12 {width: 100%;}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    /* For : */
    .glx-container .colg-xl-1 {width: 8.33%;}
    .glx-container .colg-xl-2 {width: 16.66%;}
    .glx-container .colg-xl-3 {width: 25%;}
    .glx-container .colg-xl-4 {width: 33.33%;}
    .glx-container .colg-xl-5 {width: 41.66%;}
    .glx-container .colg-xl-6 {width: 50%;}
    .glx-container .colg-xl-7 {width: 58.33%;}
    .glx-container .colg-xl-8 {width: 66.66%;}
    .glx-container .colg-xl-9 {width: 75%;}
    .glx-container .colg-xl-10 {width: 83.33%;}
    .glx-container .colg-xl-11 {width: 91.66%;}
    .glx-container .colg-xl-12 {width: 100%;}
}


.hover_pointer:hover{
    cursor: pointer;
    color: blue;
}

.lineThroughItalicGray{
    text-decoration: line-through!important;
    color: gray!important;
    font-style: italic;
}

.img_of_news input[type=checkbox] {
    margin: 5px 0 0 5px;
}

.img_of_news a{
    display: block;
}

.img_of_news img{
    display: block;
    margin: 0 auto;
}

.folder_right_breakcum{
    float: right;
}

.table-striped td{
    padding: 5px 10px;
}

.img-responsive-glx{
    width: 100%;
    max-width: 800px;
}

.news_content_root{
    max-width: 1100px;
    margin: 0 auto;
    min-height: 500px;
}

.container_youtube {
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.video_youtube_iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ccc;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ccc;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #ccc;
}

/*.login_div0 {*/
/*    margin-top: 100px;*/
/*}*/


.paginator_lad a{
    border: 1px solid #ccc; padding: 3px 5px;
    margin: 0px 2px;
    background-color: #eee;
    border-radius: 50%;
}
.paginator_lad .active {

    background-color: gray;
    color: white;
}

.upload_done_img {
    max-width: 200px;
}

.paginator_lad .select_glx{
    border-radius: 5px;
    margin:  0px 5px;
    padding: 0px 5px;
    font-size: small;
}


.blink_me {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.nav-item a.active {
    background-color: gray!important;
}

.ui-dialog { z-index: 10000 !important ;}


.select_to_add  .choices[data-type*=select-one] .choices__inner {
    padding: 4px;
}

#dynamic-select-container.select_to_add {
    display: none; /* Ẩn container chứa select */
    background: snow;
    padding: 24px;
    border: 2px dashed #ccc;
}

.select_to_add #select_number_item {
    margin-bottom: 10px;
    color: #666666;
}

.select_to_add .choices__inner {
    min-height: auto;
}

.select_to_add .choices {
    margin-bottom: 5px;
    z-index: 1000;
    color: royalblue;
    font-weight: bold;
}


#user_token input{
    border: 1px solid dodgerblue;
    position: fixed;
    top: 10px; /* Đưa input xuống giữa chiều cao của div */
    left: 50%; /* Căn giữa theo chiều ngang (nếu cần) */
    transform: translateX(-50%); /* Điều chỉnh lại vị trí */
    width: 400px;
    /*display: inline-block;*/
    /*margin-left: 10px;*/
    /*font-size: small;*/
    z-index: 10000000;
    background-color: lavender
}


     /* Custom styles cho language dropdown */
 .language-dropdown {
     min-width: 150px;
 }

.language-dropdown .dropdown-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 15px;
}

.language-dropdown .dropdown-item:hover {
    background-color: #f8f9fa;
}

.language-dropdown .fi {
    font-size: 1.2em;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.navbar-badge-flag {
    font-size: 1.2em;
}

.current-lang-text {
    margin-left: 5px;
    font-size: 14px;
}
